*{
    text-align: center;
    font-size: 18px;
    color:white;
    font-weight: bold;
}

body{
    background-image: url("Audience.jfif"), linear-gradient(to top,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

.keys{
    display:flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}
.key{
    height:70px;
    width: 70px;
    border: 15px solid black;
    background: linear-gradient(to left, rgb(11, 134, 235), rgba(11, 134, 235, 0.4));
    transition:all 0.07s ease;
}

.sound{
    color:burlywood;
}

.playing{
    transform:scale(1.1);
    border-color: rgb(250, 194, 8);
    box-shadow: 0 0 10px rgb(250, 194, 8);
}